@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background-color: bisque; */
  overflow-x: hidden;
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}


.home-bg{
    background:no-repeat center/cover url("/image/home/home-bg.png") ;
}

.risk-ai-bg{
    background:no-repeat bottom/contain url("/image/home/risk-ai-bg.png"), repeating-linear-gradient(to top,#fff,#EAF4FF);
}

.earth-bg{
    background:no-repeat right calc(100% + 10px)/contain url("/image/home/flash-earth.png"), #F6F8FF;
}

.earth-bg2{
    background:no-repeat right bottom/26.25rem 19.5rem url("/image/anti-fraud/earth.png"), #F5F8FF;
}

.risk-advantage-img{
    background:no-repeat right bottom/26.25rem 19.5rem url("/image/anti-fraud/earth.png"), rgba(199,218,255,0.19);
}

@layer components {
    .ab-c {
        @apply absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2;
    }
}